/Build/Behat/*
/Build/BuildEssentials
/Build/Reports
/Build/Resources
/Configuration/
/Data/
/Web/
/bin/
/Readme.txt
/Upgrading.txt
/flow
/flow.bat
/composer.json
/composer.lock

/Tests/Selenium/settings.xml
Build/Resources/Java/selenium-server-standalone*
/"
