$font-size: 11pt;

$white: #f2f2f2;
$white_alpha: rgba(255,255,255,0.8);
$black: #333333;
$black_alpha: rgba(0,0,0,0.8);

$gray5: #555555;
$gray20: #DDDDDD;
$gray50: #999999;
$gray80: #666666;
$gray95: #222222;

$yellow: #E4B100;
$yellow_dvb: #fdc400;
$red: #a21c15;
$blue: #089FE1;
$blue_dark: #085272;
$olive: #5e6823;
$violet: #693e75;
$orange: #CA7311;
$turquoise: #318B86;

$tooltip_intro: $white;
$message: $white;
