@mixin detailViewBasic {
	

	/* HEADING */
	.heading {
		
		min-height: 3em;
		@include flex-shrink(0);
		color: $white;
		background-color: $black;
		cursor: pointer;

		@include categoryColors;

		h1 {
			@include box-sizing(border-box);
			margin: 0;
			padding: 1em 1em 0.3em 1em;

			font-weight: 300;
			font-size: 1.1em;
			line-height: 1.1em;
			text-align: center;
		}
	}

	.close-btn {
		position: absolute;
		top: 1em;
		right: 1em;
		width: 1.5em;
		height: 1.5em;
		cursor: pointer;
		background-image: url("../img/icon_34.svg");
		@include background-size(100%);
		background-position: center center;
		background-repeat: no-repeat;
		@include transform(rotate(45deg));
	}

	/* IMAGE PROPERTY */
	.image-container {
		max-height: 10em;
		text-align: center;
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	/* OTHER PROPERTIES */
	.property {
		display: none;
		padding: 0 5%;
		margin-top: 1em;
		min-height: 2em;

		$iconSize: 2.5em;

		&.category {
			.property-icon {
				@include entityShapes;
				@include categoryColors;
				@include categorySymbols;
			}
			.property-value {
				font-style: italic;
				color: $gray50;
			}
		}

		.property-icon {
			width: $iconSize;
			height: $iconSize;
			float: left;

			background-repeat: no-repeat;
			background-position: center 0.2em;

			/* property icons */
			&.icon-times { background-image: url("../img/icon_29.svg"); }
			&.icon-location { background-image: url("../img/icon_35.svg"); }
			&.icon-phone { background-image: url("../img/icon_23.svg"); }
			&.icon-mail { background-image: url("../img/icon_25.svg"); }
			&.icon-web { background-image: url("../img/icon_27.svg"); }
			&.icon-arrival { background-image: url("../img/icon_57.svg"); }
			&.icon-openingHours { background-image: url("../img/icon_29.svg"); }
			&.icon-description { background-image: url("../img/icon_31.svg"); }
			&.icon-facebook { background-image: url("../img/icon_45.svg"); }
			&.icon-spokenLanguages { background-image: url("../img/icon_43.svg"); }
			&.icon-speakerPublic { background-image: url("../img/icon_41.svg"); }

		}
		.property-text {
			margin-left: calc(5% + 2.5em);

			&.ar, &.ur, &.fa {
				margin-right: calc(5% + 2.5em);
			}

			p { 
				margin: 0;
				line-height: 1.3em;

				&.property-name {
					color: $gray50;
					font-size: 0.9em;
					padding-bottom: 0.3em;
					text-transform: uppercase;
				}
			}

			a {
				  width: 100%;
				  display: inline-block;
				  overflow: hidden;
				  text-overflow: ellipsis;
				  white-space: nowrap;
			}
		}

		.multiselect-value {
			display: inline-block;
			margin: 0 .5em .5em 0;
		}

		&.category .property-name {
			font-size: 1em !important;
			padding: 0 !important;
			color: $black !important;
			text-transform: none !important;
		}

	}
	
	/* overwrite for POIs */
	&.type-3 {
		.property.category {
			.property-name { line-height: 2.6em !important; }
			.property-value { display: none; }
		}
	}
}

#detailView {
	
	$viewWidth: 23em;

	visibility: hidden;
	opacity: 0;
	@include transition(left 400ms, right 400ms);
	
	position: absolute;
	left: 3em;
	top: 7em;

	@include display-flex;
	@include flex-direction(column);

	width: $viewWidth;
	min-height: 20%;
	max-height: 70%;

	background-color: $white;
	@include box-shadow(0px 0px 2px #333);

	&.active {
		visibility: visible;
		opacity: 1;
	}

	&.right {
		left: auto;
		/*right: 6em;*/
		left: calc(100% - #{$viewWidth} - 4em);
	}
	
	.scroll-container {
		@include flex-grow(1);
		overflow-y: auto;
		padding-bottom: 1em;
		overflow-x: hidden;
		position: relative;
	}

	@include detailViewBasic;

}

.tablet {
	#detailViewMobile {
		width: 30%;
	}	
}

#detailViewMobile {
	
	@include transition(all 200ms);
	z-index: 100;
	width: 100%;
	height: 3em;
	position: absolute;
	bottom: -3em;
	
	background-color: $white;
	@include box-shadow(0px 0px 2px #333);

	&.active {
		bottom: 0;
	}

	&.active-large {
		bottom: 0;
		height: 100%;

		.heading h1 {
			overflow: inherit;
			text-overflow: inherit;
			white-space: inherit;
		}
	}
	
	.scroll-container {
		height: calc(100% - 4em);
		overflow-y: auto;
		padding-bottom: 1em;
	}

	@include detailViewBasic;

	.heading h1 {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}