@mixin goBackLayout {
	
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	width: 30em;
	height: 100%;

	@include display-flex;
	@include flex-direction(column);
	
	visibility: hidden;
	background-color: $white;
	@include box-shadow(0px 0px 2px #333);
	opacity: 0;
	@include transition(opacity 200ms);
	
	&.active {
		visibility: visible;
		opacity: 1;
	}

	/* HEADING */
	.heading {
		
		min-height: 4em;
		@include flex-shrink(0);
		color: $white;
		background-color: $black;
		position: relative;

		@include categoryColors;
		&.cat-general {
			background-color: $gray50 !important;
		}

		h1 {
			@include box-sizing(border-box);
			margin: 0;
			padding: 1.5em 3em 1.4em 5em;;

			font-weight: 300;
			font-size: 1.1rem;
			line-height: 1.1rem;
		}
	}

	.scroll-container {
		@include flex-grow(1);
		overflow-y: auto;
		padding-bottom: 1em;
		overflow-x: hidden;
		position: relative;
	}

	.back-btn {
		position: absolute;
		top: 1.5em;
		left: 2em;
		width: 1.5em;
		height: 1.5em;
		cursor: pointer;
		opacity: .8;
		background-image: url("../img/icon_201.svg");
		@include background-size(100%);
		background-position: center center;
		background-repeat: no-repeat;

		&:hover {
			opacity: 1;
		}
	}
}