#plusView {
	
	position: absolute;
	right: 6em;
	bottom: 3em;

	.btn {


		@include circleBtn;
		
		margin: 0 auto;

		&.plusBtn {
			width: 3.5em;
			height: 3.5em;
			@include border-radius(2em);

			background-color: $red;
			background-image: url("../img/icon-34.svg");
			@include background-size(30%);
		}

		&.offerBtn, &.requestBtn, &.feedbackBtn {
			
			display: none;
			margin-bottom: 15px;
		}

		&.offerBtn { background-color: $orange; background-image: url("../img/icon_48.svg"); }
		&.requestBtn { background-color: $orange; background-image: url("../img/icon_52.svg"); @include background-size(70%); }
		&.feedbackBtn { background-color: $white; background-image: url("../img/icon_49.svg"); }
	}

	&:hover {
		.offerBtn, .requestBtn, .feedbackBtn {
			display: block;
		}
	};

}

body.phone {


	#plusView{
		right: calc(50% - 1.75em) !important;
	}

}