.idea/
neos/Web/.htaccess
composer.json
composer.lock
composer.phar
neos/Build/
neos/Configuration/Development/
neos/Configuration/PackageStates.php
neos/Configuration/Production/
neos/Configuration/README
neos/Configuration/Settings.yaml
neos/Configuration/Settings.yaml.example
neos/Configuration/Testing/
neos/Packages/Application/Flowpack.Behat/
neos/Packages/Application/TYPO3.Form/
neos/Packages/Application/TYPO3.Imagine/
neos/Packages/Application/TYPO3.Media/
neos/Packages/Application/TYPO3.Neos.Kickstarter/
neos/Packages/Application/TYPO3.Neos.NodeTypes/
neos/Packages/Application/TYPO3.Neos/
neos/Packages/Application/TYPO3.Party/
neos/Packages/Application/TYPO3.Setup/
neos/Packages/Application/TYPO3.TYPO3CR/
neos/Packages/Application/TYPO3.Twitter.Bootstrap/
neos/Packages/Application/TYPO3.TypoScript/
neos/Packages/Framework/
neos/Packages/Libraries/
!neos/Packages/Application/TYPO3.Neos/Configuration/Policy.yaml