#formView {
	
	@include shadow($height: 2);
	@include transition(opacity 200ms);

	position: absolute;
	left: 25%;
	top: 12%;

	visibility: hidden;
	opacity: 0;

	@include box-sizing(border-box);
	width: 50%;
	max-height: 80%;

	background-color: $white;
	color: $black;

	@include display-flex;
	@include flex-direction(column);

	/* HEADING */
	.header {
		background-color: $black;
		padding: 0 3rem;

		h1 {
			font-weight: 300;
			margin: 0;
			padding: 1rem 0;
			font-size: 2em;
			color: $white;
			@include box-sizing(content-box);
		}
	}
	
	.form-container {
		position: relative;
		@include flex-grow(1);
		padding: 1em 3rem;
	}

	.button-container {
		padding: 0 3rem;
		background-color: $gray20;
		@include box-shadow($gray20 0 0 15px);
	}

	&.active {
		visibility: visible;
		opacity: 1;
	}

	form {

		display: none;

		input, textarea, select {
			display: block;
			@include box-sizing(border-box);
			width: 100%;
			padding: 0.5em;
			border: none;
			background-color: $gray20;
			margin-bottom: 1em;

			&:focus{
				background-color: $white;
			}
		}

		&.active {
			display: block;
		}
	}

	.form-checkbox {
		@include display-flex;
		@include align-items(middle);
		margin-bottom: 1em;

		input {
			width: auto;
			width: 1.5em;
			height: 1.5em;
  		cursor: pointer;
	    margin: 0 .5em 0 0;
		}

		label {
			line-height: 1.5em;
		}
	}

	.form-switch {
		margin-bottom: 1em;
		
		input {
			display: none;
		}

		span {
			display: inline-block;
			padding: .5em 1em;
			@include transition(background-color 150ms);
			background-color: $gray20;
			cursor: pointer;
			color: $gray50;


			&:hover {
				background-color: $gray50;
				color: $gray20;
			}

			&.active {
				background-color: $black_alpha;
				color: $white;
				border-color: $black_alpha;
			}
		}
	}

	.location-container {
		input {
			display: none;
		}

		&.active {
			input {
				display: block;
			}
		}
	}

	/* type specific overwrites */
	&.marketOffer, &.marketRequest {
		.heading { background-color: $orange;  }
		.sendBtn { background-color: $orange; }
	}

	&.marketOffer {
		.heading { background-image: url("../img/icon_48.svg"); }
	}

	&.marketRequest {
		.heading { background-image: url("../img/icon_52.svg"); }
	}

	&.feedback {
		.heading { background-color: $black; background-image: url("../img/icon_50.svg"); }
		.sendBtn { background-color: $black; }
	}

}

.mobile {

	#formView {
		
		/*z-index: 100;*/
		width: 100%;
		height: 100%;
		max-height: 100%;
		top: 0;
		left: 0;
		
		.form-container {
			overflow-y: scroll !important;
		}
	}
}

.tablet {
	.form-container {
		overflow-y: scroll !important;
	}
}