@import "compass/css3";

#includeView {
	
	@include transition(left 200ms, height 200ms);
	@include box-shadow(0px 0px 5px #333);

	position: absolute;
	left: -35%;
	top: 0;

	visibility: hidden;
	opacity: 0;

	@include box-sizing(border-box);
	width: 35%;
	height: 100%;

	@include display-flex;
	@include flex-direction(column);

	background-color: $black_alpha;
	color: $white;

	/*border: 1px solid red;*/

	&.active {
		left: 0;
		visibility: visible;
		opacity: 1;
	}

	&.imprint {
		direction: ltr;
	}

	a {
		color: $white;
		text-decoration: none;
	  	border-bottom: 1px $white dotted;
		
		&:visited, &:active {
			color: $white;
			text-decoration: none;
		  	border-bottom: 1px $white dotted;
		}

		&:hover {
			@include transition(background-color 300ms);
			color: $black;
			background-color: $white;
			text-decoration: none;
		}
	}

	.closeBtn {
	    position: absolute;
        top: 0.4em;
	    left: 1.2em;
	    width: 1em;
	    height: 1em;
	    font-size: 1.4rem;
	    cursor: pointer;
	    background-image: url("../img/icon_74.svg");
	    @include background-size(60%);
		background-position: center center;
		background-repeat: no-repeat;
	}
	.chapters {
		margin-top: 2em;
	}
	
	.chaptersReal {
	  	@include flex-shrink(0);
	}

	h1 {
	    font-weight: 300;
	    margin: 0;
	    padding: 0.3em 1em 0.3em 2.5em;
	    background-color: black;
	    font-size: 1.4rem;
	    color: $white;
	    @include box-sizing(content-box);
	}

	.content {

		@include flex-grow(1);
	  	
	  	padding: 0 2em 2em 2em;
		position: relative;
		overflow-y: auto;
		overflow-x: hidden;
		
		line-height: 2em;
		color: $white;

		h2 {
			font-weight: 100;
			line-height: 1.3em;
			margin-top: 2em;
			text-transform: uppercase;

			a, a:visited, a:active, a:hover {
				text-decoration: none;
				border: none;
				background: none;
				color: $white;
			}
		}

		h3 {
			font-size: 1.2em;
			font-weight: 100;
			line-height: 1em;
    		margin-top: 1.5em;
			margin-bottom: 0.4em;
		}

		p {
			text-align: justify;
			font-weight: 300;
			line-height: 1.3em;
		}

		table {
			font-weight: 300;

			td {
				padding: .3em 0 .3em 1em;
				&:first-child { padding-left: 0em; }
			}
		}

		hr {
		    border-color: #666;
		}

		span.locationLink {
			@extend a;

			display: inline-block;
			cursor: pointer;
			text-indent: 1em;
			background-image: url('../img/icon-36.svg');
			@include background-size(auto 1em);
			background-position: 0 2px;
			background-repeat: no-repeat;

			&:hover {
				background-image: url('../img/icon-35.svg');
			}

		}

		p.figure-caption{
			margin-top: 0;
		    padding: .3em;
		    font-weight: 100;
		    font-style: italic;
		}

	}

}

body.desktop, body.tablet {

	#includeView {

	}

}

body.mobile {

	#includeView {
		width: 100%;

		&.small {
			height: 20%;
		}
	}

}