#languageView {
	
	#lang-btn {
		/*display: none;*/
		position: absolute;
		top: 2em;
		right: 6em;

		@include circleBtn;
		@include background-size(cover);
		@include languageFlags;

		/*display: none;*/
		cursor: pointer;
		/*@include filter(grayscale(0.5));*/
	}

	#list-container {
		display: none;
		position: absolute;
		width: 30%;
		max-height: 50%;
		top: 25%;
		left: 35%;
		overflow-y: scroll;
		background-color: $white;
	}

	.lang-item {
		height: 5em;
		padding: 1em;
		@include display-flex;
		border: 1px solid $gray20;
		cursor: pointer;

		&:hover {
			background-color: $gray20;
		}

		&.active {
			background-color: $gray80;
			color: $white;
		}

		.lang-item-flag {
			width: 3em;
			@include circleBtn;
			@include background-size(cover);
			@include languageFlags;
		}

		.lang-item-label {
	    padding-left: 1em;
    	font-size: 2em;
		}
	}

	&.active {

		position: absolute;
		bottom: 0;
		left: 0;

		width: 100%;
		height: 100%;

		#list-container {
			display: block;
		}
	}
}

.mobile {
	#languageView {

		#lang-btn {
			top: initial;
			right: initial;
			bottom: 2em;
			left: 2em;
		}

		#list-container {
			width: 70%;
			max-height: 70%;
			top: 15%;
			left: 15%;
		}
	}
}