#legendView {
	
	@include transition(all 100ms);

	position: absolute;
	right: -11.9em;
	top: 0;
	
	@include box-sizing(border-box);
	width: 15em;
	height: 100%;
	padding: 2em 0;

	background-color: $black_alpha;

	.filter-module {

		h3 {
			font-weight: normal;
			text-transform: uppercase;
			color: $gray50;
			padding-left: .5rem;
			font-size: 0.9em;
			visibility: hidden;
		}
	}

	.container {
		margin-bottom: 1em;
		color: $white;
	}
	.cat-container {

		position: relative;
		width: 100%;
		height: 2.5em;
		line-height: 2.5em;
		
		@include categoryColors($alpha_background: .4);
		border-left: .5rem solid;

		.icon {
			
			@include categorySymbols;
			position: absolute;
			top: 0;
			left: 0;
			width: 2.5em;
			height: 2.5em;
			
			@include transition(all 250ms);
		}

		p {
			position: absolute;
			top: 0;
			left: 3.5em;
			margin: 0;
			text-transform: uppercase;
			font-weight: 300;
			text-overflow: ellipsis;
			width: calc(100% - 3.5em );
			overflow: hidden;
			white-space: nowrap;
			cursor: pointer;
		}

		&.filter-reset {
			display: none;
			opacity: 1 !important;
			.icon {visibility: hidden;}
		}

		&:hover {
			opacity: 1 !important;
			
			p { @include text-shadow( 0px 0px 2px rgba(255, 255, 255, 1) ); }
			
		}

		&.inactive {
			opacity: .3;
		}

	}

	.subcat-container {
		@include transition(max-height 250ms);
		
		@include categoryColors($alpha_background: .1);
		border-left: .5rem solid;

		max-height: 0;
		overflow: hidden;


		.icon {
			
			@include categorySymbols;
			@include background-size(50%);
			
			background-image: url("../img/cat-08.svg");
			
			float: left;			
			width: 2.5em;
			height: 2.5em;
			margin-left: .5em;
		}

		p {
			margin: 0 0 0 3.5em;
			text-overflow: ellipsis;
		    height: 2.5em;
    		line-height: 2.5em;
		}
	}

	&.filter-active {

		.cat-container.filter-reset { display: block; }
	}

	&:hover{

		right: 0;

		.filter-module {
			h3 { visibility: visible; }
		}
		.cat-container .icon { margin-left: .5em; }

		.subcat-container {
			max-height: 300px; /* the height is not real, just a work around to make the transition working, because it needs a specific value */
		}

	}

}