#plusView {
	
	position: absolute;
	right: 6em;
	bottom: 3em;

	.btn {
		@include circleBtn;
		
		background-color: $black_alpha;

		&.feedbackBtn {
			width: 3.5em;
			height: 3.5em;
			@include border-radius(2em);

			background-image: url("../img/icon_50.svg");
			@include background-size(53%);
		}

		&.locateBtn {
			position: relative;
			width: 2.5em;
			height: 2.5em;
			left: .5em;
			bottom: .7em;
			background-color: $white_alpha;
			background-image: url('../img/btn-locate.svg');
			@include background-size(70%);
			@include shadow(2);
		}
	}
}

.phone {
	#plusView{
		right: 2em !important;
		bottom: 1.5em !important;
	}

}