#searchView {
	
	$viewWidth: 30em;

	position: absolute;
	top: 0em;
	left: 0em;
	z-index: 10;
	background-color: $gray95;
	@include box-shadow(0px 0px 2px #000);
	
	width: $viewWidth;
	height: 100%;
	
	$height_sb: 2.5rem;

	#search-bar {
		position: relative;
		width: calc(100% - 4em);
		left: 2em;
		top: 2em;
		height: $height_sb;
		background-color: $gray95;
		@include border-radius(.2em);
		@include box-shadow(0px 3px 6px #000);

		.button {
			position: absolute;
			width: 3em;
			height: $height_sb;
			@include background-size(40%);
			background-repeat: no-repeat;
			background-position: center center;
			cursor: pointer;
			opacity: .8;

			&:hover {
				opacity: 1;
			}
		}

		.menu-btn {
			top: 0;
			left: 0;
			background-image: url("../img/icon_38.svg");
		}

		.refugee-btn {
			top: 0;
			right: 0;
	    background-image: url("../img/icon_54.svg");
			@include background-size(55%);
		}

		.filter-btn {
			display: none;
		}

		.cancel-btn {
			top: 0;
			right: 0;
	    background-image: url("../img/icon_34.svg");
			@include transform(rotate(45deg));
			opacity: 1;
			display: none;
		}

		input {
			position: absolute;
			top: 0;
			left: 3em;
			width: calc(100% - 6em);
			height: $height_sb;
			line-height: $height_sb;
			color: $gray50;
			background: none;
			border: none;

			&:focus {
				color: $white;
				outline-color: rgba(0,0,0,0) !important;
			}
		}

		.search-tag {
			height: 1.5em;
			width: calc(100% - 6em);
			position: absolute;
			left: 3rem;
			top: calc( (2.5em - 1.5em) / 2 );
			padding: 0 .3em;
			cursor: pointer;
			display: none;
			background-color: $gray5;
			text-align: center;
			color: $white;
			@include categoryColors();
			&.active { display: inline-block; }
    	overflow: hidden;
    	text-overflow: ellipsis;
			@include border-radius(.1em);

			&[class*="cat"] {
				color: $white;
			}
		}
	}

	#results {
		position: absolute;
    top: 5rem;
    left: 2rem;
		width: calc(100% - 4rem);
		height: calc(100% - 7rem);

		.result {
			margin-bottom: 1rem;
			color: $white;
			cursor: pointer;
			@include transition(background-color 150ms);

			@include display-flex;

			&:hover {
				background-color: $black;
			}
		}

		.section-header {
			text-transform: uppercase;
			color: $gray50;
			margin: 2em 0.8em 1em;

			&.with-action {
				cursor: pointer;

				&:hover {
					color: $gray20;
				}
			}
		}
		.section-header:first-child{
			margin: 0 1em 1em;
		}

		.icon {
			@include entityShapes;
			@include categoryColors;
			@include categorySymbols;
			width: 2em;
			height: 2em;
			margin: .5em 1em .5em 0.5em;

			&.add-entry {
		    background-image: url("../img/icon_34.svg");
			}
			&.support-wanted {
		    background-image: url("../img/icon_56.svg");
			}
			&.for-children {
		    background-image: url("../img/icon_124.svg");
			}
			&.for-women {
		    background-image: url("../img/icon_156.svg");
			}
			&.certified {
		    background-image: url("../img/icon_169.svg");
			}
			&.start-intro {
		    background-image: url("../img/icon_32.svg");
			}
			&.feedback {
		    background-image: url("../img/icon_50.svg");
			}
			&.iwgr {
				background-image: url("../img/icon_194.svg");
				@include background-size(100%);
			}
		}

		.labels {
			@include flex(1);
			@include display-flex;
			@include flex-direction(column);

			span {
				line-height: 1.5em;
				cursor: pointer;
			}

			.sub-label {
				color: $gray50;
				font-size: .8em;
			}
		}
	}

	&.active-search {
		#search-bar input {
	    width: calc(100% - 6em);
		}

		.cancel-btn {
			display: block !important;
		}

		.refugee-btn {
			display: none;
		}
	}
}

.tablet {

	#searchView {
		&.active {
			#results {
		    overflow: scroll;
			}
		}
  }	
	
}

.mobile {

	$height_sb: 3rem;

	#searchView {

		width: 100%;
		background: none;
		height: 3rem;

		#search-bar {
			width: 100%;
			top: 0;
			left: 0;
			@include border-radius(0);

			height: $height_sb !important;

			input {
				left: 4rem;
				width: calc(100% - 10rem);
			}

			.search-tag {
				left: 4em;
				top: calc( (3em - 1.5em) / 2 );
				width: calc(100% - 10rem);
			}

			.btn {
				height: $height_sb;
			}

			.menu-btn {
				top: 0;
				left: 1rem;
				background-image: url("../img/icon_38.svg");
			}

	    .refugee-btn {
				right: 4rem;
			}

	    .filter-btn {
				display: block;
				top: 0;
				right: 1rem;
		    background-image: url("../img/icon_94.svg");
			}
		}

		#results {
			top: 3rem;
			left: 0;
			padding: 2rem 1rem;
			width: 100%;
			height: calc(100% - 3rem);
		}

		input {
			height: $height_sb !important;
			line-height: $height_sb !important;
		}

    .cancel-btn {
			right: 3em !important;
		}
		
		&.active {
			height: 100%;
			
			#search-bar {
				background-color: $gray95;
			}

			#results {
				background-color: $gray95;
				height: calc(100vh - 6rem);
		    overflow: scroll;
				@include box-shadow(0px 0px 2px #000);
			}

			#map-area {
				height: 3rem;
		    position: absolute;
		    bottom: 0;
		    width: 100%;
				background-color: rgba(0,0,0,0.4);
			}
		}

		&.minimized {
			height: 3em;
			#results { display: none; }
			#map-area { display: none; }
		}
  }	
}

.rtl {
	#searchView {
		.labels {
			padding-right: 0 !important;
			padding-left: 1em !important;
		}
	}
}

.desktop {
	#search-bar {
		left: 0;
		right: 2rem;
	}
}