legend {
    margin-top: 35px;
}

form.afeefa-form {
    float: right;
}

div.afeefa-infoBox {
    background-color: #2f2f2f;
    position: fixed;
    padding: 15px;
    right: 0;
    opacity: .8;
    top: 80px;
}

div.afeefa-grayBox {
    background-color: #2f2f2f;
    padding: 15px;
    margin: 10px 0;
    display: inline-block;
}

div#entry-filter {
    padding: 1em 0;
}

div#entry-filter span {
    display: inline-block;
    margin-right: 2em;
}
div#entry-filter span.filter-option {
    cursor: pointer;
}

div#entry-filter span.filter-option:hover {
    text-decoration: underline;
}

div.afeefa-infoBox p, div.afeefa-grayBox p {
    font-weight: bold;
    margin-bottom: 10px;
}

tr.afeefa-intended td{
    background-color: #222 !important;
    color: #ddd;
}

tr.afeefa-intended td:nth-child(5) {
    padding-left: 50px !important;
}

table.afeefa-table-entry td:nth-child(4) {
    font-size: 180%;
    line-height: initial;
    text-align: center;
}

.afeefa-small {
    font-size: smaller;
    font-style: italic;
}

#tabs {
    height: 30px;
    overflow: hidden;
    border-bottom: solid #333 thin;
    margin: 0;
    padding: 0;
}

#tabs > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#tabs > ul > li {
    margin: 0 2px 0 0;
    padding: 7px 10px;
    display: block;
    float: left;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background: #222;
}

#tabs > ul > li:hover {
    background: #3f3f3f;
    cursor: pointer;
    color: #fff;
    border-bottom: solid #555 2px;
}

#tabs > ul > li.tabActive {
    background: #3f3f3f;
    cursor: pointer;
    color: #fff;
    border-top: solid #555 4px;
}

a.tooltip {
    outline: none;
}

a.tooltip:hover {
    text-decoration: none;
}

a.tooltip span {
    z-index: 10;
    display: none;
    padding: 8px;
    margin: -10px 0 0 15px;
    width: 300px;
    box-shadow: 5px 5px 30px #222;
}

a.tooltip:hover span {
    display: inline;
    position: absolute;
    border: 1px solid #555;
    background: #3f3f3f;
}

.onoffswitch {
    top:100%;
    position: relative;
    width: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 10px;
    padding: 0;
    line-height: 10px;
    border: 0 solid #FFFFFF;
    border-radius: 16px;
    background-color: #ddd;
}

.onoffswitch-label:before {
    content: "";
    display: block;
    width: 16px;
    margin: -3px;
    background: #555555;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 28px;
    border-radius: 16px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #DDDDDD;
}

.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #DDDDDD;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0;
    background-color: #00B5FF;
}