/* main styles for dresdenfueralle.de */

body {
	margin: 0;
	padding: 0;
	height: 100%;
}
#map-container {
	position: fixed;
	top: 0;
	z-index: 0;
	width: 100%;
	height: 100%;

	div.marker-station {
		p {
			background-color: $dvb;
			padding: 2px;
			text-align: center;
			opacity: .9;
			font-family: monospace;
			font-size: .9em;
		}
	}

	div.marker-user-location {
		background-color: $blue;
		@include border-radius(8px);
		@include box-shadow(0px 0px 5px #888888);
	}

	div.marker-cluster {
		background-color: #333;
		@include border-radius(20px);
		@include box-shadow(0px 0px 5px #888888);
		border: 2px solid $white;
		color: $white;
	  	text-align: center;
	  	font-size: 20px;
  		padding-top: 4px;
		opacity: .9;
	}
}

a {

	&:link {
        color: #333;
        text-decoration: underline;
    }
    &:visited, &:hover, &:active{
        @extend a:link;
    }
}

/* bootstrap fix for glyphicons inside input-group-addon */
.input-group .glyphicon {
	top: 0;
}



.mobile-menu-off-canvas, #navigation-top > div, #content {
	background-color: #EEE;
	@include box-shadow(0px 0px 5px #888888);
}

.mobile-menu-off-canvas {
	@include transition(all 300ms);
	position: fixed;
	top: 0;
	height: 100%;
	width: 80%;
	z-index: 200;

	& > div {

		padding: 1em;

		ul { 
			margin: 0;
			padding: 0;
			list-style: none;
			
			li {
				height: 2em;
				padding: 0.5em;
				background-color: #DDD;
				margin-top: 0.1em;

				a { display: block; }
			}
		}

	}

	&#mobile-menu-off-canvas-left {

		left: -80%;


		&.active {
			left: 0;
		}

	}

	&#mobile-menu-off-canvas-right {

		width: 60%;
		right: -60%;

		p.legend-entry {

			/*height: 2em;*/
			text-indent: 2em;
			@include background-size(contain);
			background-position: left;
			background-repeat: no-repeat;

			&.hospital {
				background-image: url('../img/renders/hospital-24@2x.png');
			}
			&.heart {
				background-image: url('../img/renders/heart-24@2x.png');
			}
			&.college {
				background-image: url('../img/renders/college-24@2x.png');
			}
			&.heapitchrt {
				background-image: url('../img/renders/pitch-24@2x.png');
			}
			&.town-hall {
				background-image: url('../img/renders/town-hall-24@2x.png');
			}
			&.shop {
				background-image: url('../img/renders/shop-24@2x.png');
			}
			&.star {
				background-image: url('../img/renders/star-24@2x.png');
			}
			&.school {
				background-image: url('../img/renders/school-24@2x.png');
			}
		}
		&.active {
			right: 0;
		}
	}
}

#uiContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 1em;
	
	#navigation-top {

		#menu-btn, #search-box, #legend-btn {
			display: inline-block;
			position: absolute;
		}
		#menu-btn {
			width: 3em;
			height: 3em;
			left: 0;
			background-image: url('../img/menu-icon.svg');
			@include background-size(85%);
			background-position: center;
			background-repeat: no-repeat;
		}

		#search-box {
			left: 4em;
			z-index: 200;
			width: calc(100% - 8em);
			height: 3em;
			padding: .7em;
			color: #999;
		}

		#legend-btn {
			width: 3em;
			height: 3em;
			padding: 0.5em;
			right: 0;
			background-image: url('../img/legend-icon.svg');
			@include background-size(80%);
			background-position: center;
			background-repeat: no-repeat;
		}

	}
}

#content {
	@include transition(all 300ms);
	z-index: 100;
	width: 100%;
	height: 3em;
	position: fixed;
	bottom: -3em;
	
	box-shadow: 0px 0px 5px #888888;
	background-color: #EEE;

	p {
		margin: 0;
		padding: 1em 1em;
		/*border-top: 1px solid #ccc;*/

		&:first-child {
			height: 3em;
			background-color: $blue;
			padding: 1em 0 0 0;
			border-top: none;
			color: $white;
			text-align: center;
		}
	}

	&.active-small {
		bottom: 0;
	}

	&.active-large {
		bottom: 0;
		height: 80%;
		overflow-y: scroll;
	}
}