@mixin categorySymbols {

	/* type 0 + type 1 categories*/
	&.cat-consultation { background-image: url("../img/cat-10.svg"); }
	&.cat-medic { background-image: url("../img/cat-04.svg"); }
	&.cat-german { background-image: url("../img/cat-18.svg"); }
	&.cat-jobs { background-image: url("../img/cat-02.svg"); }
	&.cat-leisure { background-image: url("../img/cat-08.svg"); }
	&.cat-translation { background-image: url("../img/cat-06.svg"); }
	&.cat-children { background-image: url("../img/cat-14.svg"); }
	&.cat-donation { background-image: url("../img/cat-12.svg"); }
	&.cat-community { background-image: url("../img/icon-40.svg"); @include background-size(115%); }

	/* type 3 categories*/
	&.cat-housing {
		border: 1px solid $white;
		background-image: url("../img/cat-19.svg");
		background-color: rgba(0,0,0,0) !important;
	}
	&.cat-christian { background-image: url("../img/icon_60.svg"); @include background-size(65%); }
	&.cat-islam { background-image: url("../img/icon_62.svg"); }
	&.cat-jewish { background-image: url("../img/cat-22.svg"); }
	&.cat-shop { background-image: url("../img/icon_66.svg"); @include background-size(65%); }
	&.cat-public { background-image: url("../img/icon_64.svg"); @include background-size(80%); }
	&.cat-tram { background-image: url("../img/icon_57.svg"); background-color: $dvb; }
	
	&.cat-other { background-image: none; }

}

@mixin categorySymbolsDark {

	/* type 0 + type 1 categories*/
	&.cat-consultation { background-image: url("../img/cat-09.svg"); }
	&.cat-medic { background-image: url("../img/cat-03.svg"); }
	&.cat-german { background-image: url("../img/cat-17.svg"); }
	&.cat-jobs { background-image: url("../img/cat-01.svg"); }
	&.cat-leisure { background-image: url("../img/cat-07.svg"); }
	&.cat-translation { background-image: url("../img/cat-05.svg"); }
	&.cat-children { background-image: url("../img/cat-13.svg"); }
	&.cat-donation { background-image: url("../img/cat-11.svg"); }
	&.cat-community { background-image: url("../img/icon-39.svg"); @include background-size(115%); }

	/* type 3 categories*/
	&.cat-housing {
		border: 1px solid $white;
		background-image: url("../img/cat-19.svg");
		background-color: rgba(0,0,0,0) !important;
	}
	&.cat-christian { background-image: url("../img/icon_59.svg"); }
	&.cat-islam { background-image: url("../img/icon_61.svg"); }
	&.cat-jewish { background-image: url("../img/cat-21.svg"); }
	&.cat-shop { background-image: url("../img/icon_65.svg"); @include background-size(65%); }
	&.cat-public { background-image: url("../img/icon_63.svg"); @include background-size(80%); }
	&.cat-tram { background-image: url("../img/icon_58.svg"); background-color: $dvb; }

	&.cat-other { background-image: none; }

}

@mixin languageFlags {

	&.de { background-image: url("../img/flag_de.svg"); }
	&.en { background-image: url("../img/flag_en.svg"); }
	&.ar { background-image: url("../img/flag_ar.svg"); }
	&.fa { background-image: url("../img/flag_fa.svg"); }
	&.fr { background-image: url("../img/flag_fr.svg"); }
	&.sr { background-image: url("../img/flag_sr.svg"); }
	&.ru { background-image: url("../img/flag_ru.svg"); }
	&.ti { background-image: url("../img/flag_ti.svg"); }
	&.ur { background-image: url("../img/flag_ur.svg"); }
	&.it { background-image: url("../img/flag_it.svg"); }

}

@mixin circleBtn {

	width: 3em;
	height: 3em;
	@include border-radius(2em);
	@include box-sizing(border-box);
	@include box-shadow(0px 0px 2px #333);
	
	@include background-size(50%);
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;

	&:hover {
		@include box-shadow(0px 0px 5px #111);
	}
}

body {
	margin: 0;
	padding: 0;
	height: 100%;

	font-family: 'Roboto', sans-serif;
	font-size: 11pt;
	direction: ltr;

	background-color: $black;

}

a {

	&:link {
        color: #333;
        text-decoration: underline;
    }
    &:visited, &:hover, &:active{
        @extend a:link;
    }
}

.hidden{ display: none; }

#main-container {
	
	@include transition(all 250ms);

	position: fixed;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: $black;
	/*background-image: url("../img/CND.svg");*/
	background-image: url("../img/afeefa_light.svg");
	@include background-size(20%);
	background-position: center center;
	background-repeat: no-repeat;

	@include box-shadow(0px 0px 10px #111);

	/* map curtain */
	@mixin mapCurtainActive {
		visibility: visible;
		opacity: 0.6;
	}
	#map-curtain {
		@include transition(all 250ms);
		background-color: $black;
		position: absolute;
		width: 100%;
		height: 100%;
		visibility: hidden;
		opacity: 0;
		z-index: 9999;
		
		&.active {
			@include mapCurtainActive;
		}
	}

	&.shifted {
		left: 15em;

		#map-curtain {
			@include mapCurtainActive;
		}

		#menuView { z-index: 999; }
		/*#lang-menu { display: none; }*/
	}

	&.shifted-small {
		left: 4em;

		#map-curtain {
			@include mapCurtainActive;
		}

		#languageViewMobile { z-index: 999; }
		/*#main-menu { display: none; }*/

	}
}

/* bootstrap fix for glyphicons inside input-group-addon */
.input-group .glyphicon {
	top: 0;
}



.mobile-menu-off-canvas, #navigation-top > div, #content {
	background-color: #EEE;
	@include box-shadow(0px 0px 5px #888888);
}

.mobile-menu-off-canvas {
	@include transition(all 300ms);
	position: fixed;
	top: 0;
	height: 100%;
	width: 80%;
	z-index: 200;

	& > div {

		padding: 1em;

		ul { 
			margin: 0;
			padding: 0;
			list-style: none;
			
			li {
				height: 2em;
				padding: 0.5em;
				background-color: #DDD;
				margin-top: 0.1em;

				a { display: block; }
			}
		}

	}

	&#mobile-menu-off-canvas-left {

		left: -80%;


		&.active {
			left: 0;
		}

	}

	&#mobile-menu-off-canvas-right {

		width: 60%;
		right: -60%;

		p.legend-entry {

			

		}
		&.active {
			right: 0;
		}
	}
}

#locate-btn {
	position: fixed;
	width: 3.5em;
	height: 3.5em;
	right: 1em;
	bottom: 4em;
	background-color: #EEE;
	background-image: url('../img/btn-locate.svg');
	@include background-size(70%);
	background-position: center;
	background-repeat: no-repeat;
	@include box-shadow(0px 0px 5px #888888);
	@include border-radius(1.75em);
	cursor: pointer;
	/*z-index: 999;*/
}

#uiContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 1em;
	
	#navigation-top {

		#menu-btn, #search-box, #legend-btn {
			display: inline-block;
			position: absolute;
		}
		#menu-btn {
			width: 3em;
			height: 3em;
			left: 0;
			background-image: url('../img/menu-icon.svg');
			@include background-size(85%);
			background-position: center;
			background-repeat: no-repeat;
		}

		#search-box {
			left: 4em;
			z-index: 200;
			width: calc(100% - 8em);
			height: 3em;
			padding: .7em;
			color: #999;
		}

		#legend-btn {
			width: 3em;
			height: 3em;
			padding: 0.5em;
			right: 0;
			background-image: url('../img/legend-icon.svg');
			@include background-size(80%);
			background-position: center;
			background-repeat: no-repeat;
		}

	}
}

#content {
	@include transition(all 300ms);
	z-index: 100;
	width: 100%;
	height: 3em;
	position: fixed;
	bottom: -3em;
	
	@include box-shadow(0px 0px 5px #888888);
	background-color: #EEE;

	p {
		margin: 0;

		&.location-title {
			height: 3em;
			background-color: $blue;
			padding: 1em 0 0 0;
			border-top: none;
			color: $white;
			text-align: center;
		}
	}

	.location-property {

		padding: 1em 1em;
		
		h3 {
			font-size: 1em;
			font-weight: bold;
			margin: 0;
		}

		p {
			padding-left: 2em;

			&:first-child {
				padding-left: 0;
			}
		}
	}

	&.active-small {
		bottom: 0;
	}

	&.active-large {
		bottom: 0;
		height: 80%;
		overflow-y: scroll;
	}
}