#detailView {
	
	/*display: none;*/
	visibility: hidden;
	opacity: 0;
	@include transition(all 200ms);
	
	position: fixed;
	left: 4%;
	top: 50px;

	width: 21%;
	/*min-width: 300px;*/
	min-height: 20%;
	padding-bottom: 1em;

	background-color: $white;
	@include box-shadow(0px 0px 2px #333);

	&.active {
		visibility: visible;
		opacity: 1;
	}

	/* HEADING */
	.heading {
		
		height: 3em;
		
		h1 {
			height: 2em;
			margin: 0;
			padding: 1em 1em 0 1em;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			font-weight: 300;
			font-size: 1.1em;
			text-align: center;
			color: $white;
		}
	}
	&.type-0 .heading { background-color: $blue_dark; }
	&.type-1 .heading { background-color: $orange; }
	&.type-2 .heading { background-color: pink; }
	&.type-3 .heading { background-color: $black; }

	/* IMAGE PROPERTY */
	.image {
		/*height: 10em;*/
		text-align: center;
		overflow: hidden;

		img {
			position: relative;
		  	top: 50%;
		  	transform: translateY(-50%);
		}

		&.logo img { height: 80%; }
		&.photo img { width: 100%; }
	}

	/* OTHER PROPERTIES */
	.property {
		display: none;
		padding: 0 5%;
		margin-top: 1em;
		min-height: 2em;

		$iconSize: 2.5em;

		.cat-icon {
			width: $iconSize;
			height: $iconSize;
			float: left;
			
			@include border-radius(2em);

			@include background-size(72%);
			background-repeat: no-repeat;
			background-position: center center;

			/* type 0 + type 1 categories*/
			&.cat-advice { background-image: url("../img/cat-10.svg"); }
			&.cat-medic { background-image: url("../img/cat-04.svg"); }
			&.cat-german { background-image: url("../img/cat-18.svg"); }
			&.cat-jobs { background-image: url("../img/cat-02.svg"); }
			&.cat-leisure { background-image: url("../img/cat-08.svg"); }
			&.cat-translation { background-image: url("../img/cat-06.svg"); }
			&.cat-kids { background-image: url("../img/cat-14.svg"); }
			&.cat-donation { background-image: url("../img/cat-12.svg"); }
			&.cat-community { background-image: url("../img/cat-16.svg"); }

			/* type 3 categories*/
			&.cat-housing {
				border: 1px solid $white;
				background-image: url("../img/cat-19.svg");
				background-color: rgba(0,0,0,0) !important;
			}
			&.cat-church { background-image: url("../img/cat-16.svg"); }
			&.cat-mosque { background-image: url("../img/cat-16.svg"); }
			&.cat-synagogue { background-image: url("../img/cat-22.svg"); }
		}
		.cat-text {
			margin-left: calc(5% + 2.5em);
			p { 
				margin: 0;
				line-height: 1.3em;

				&.cat-name { font-weight: 500; }
			}
		}
	}
	&.type-0 .cat-icon { background-color: $blue_dark; }
	&.type-1 .cat-icon { background-color: $orange; }
	&.type-2 .cat-icon { background-color: pink; }
	&.type-3 .cat-icon { background-color: $black; }
}