#menuView {
	
	position: absolute;
	left: -15em;
	top: 0;
	
	@include box-sizing(border-box);
	width: 15em;
	height: 100%;
	padding: 2em 0;

	border: 1px solid red;

	.menu-btn {
		position: absolute;
		right: -6em;
		top: 2em;
		@include circleBtn;
		background-color: $blue_dark;
		background-image: url("../img/menu.svg");
	}

	a {
		width: 50%;
		margin: 0 auto;
		display: block;
	}

	img { width: 100%; }

}